<div class="container-fluid">


  <div class="main-slider story-area">
    <!-- INIZIO CONTENT -->
    <section class="section">
      <div class="row" style="overflow: hidden; padding-top: 135px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <img src="../assets/images/Home1.jpg" class="img-fluid" alt="Responsive image">
          <div class="imagemid">
            <div class="display-table center-text">
              <div class="display-table-cell">
                <div class="slider-content">
                  <i class="small-icon icon icon-tie"></i>
                  <h5 class="date"><b>{{'newDate' | translate }}</b> 30 {{'july' | translate }} 2022 - 16:00</h5>
                  <h1 class="title">Ana Carla <i class="icon icon-heart"></i> Davide</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- benvenuti-->
      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'ourStory' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <h4 class="textContentHomePage" style="color: #868686;"><span
              innerHTML="{{'homePageText1' | translate}}"></span></h4>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>
      <hr>
      <img src="../assets/images/Home2.jpg" class="img-fluid" alt="Responsive image">

      <!-- gli sposi -->
      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <section id="gliSposi"></section>
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'gliSposi' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <h4 class="textContentHomePage" style="color: #868686;"><span
              innerHTML="{{'homePageText2' | translate}}"></span></h4>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>

      <br>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center-text">
          <iframe width="100%" height="450" src="https://www.youtube.com/embed/DjDbcdsKYqE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>

      <!-- Ceremonia -->
      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <section id="cerimonia"></section>
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'ceremonia' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <img src="../assets/images/Castelbrando.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>
      <br>
      <!-- Booking info -->
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <h4 class="textContentHomePage" style="color: #868686;"><span innerHTML="{{'rsvpText1' | translate}}"></span>
          </h4>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <table class="table table-striped">
            <tr>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText2' | translate}}"></span></th>
            </tr>
            <tr>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText3' | translate}}"></span></th>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText4' | translate}}"></span></th>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText5' | translate}}"></span></th>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText6' | translate}}"></span></td>
              <td>92 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>112 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText7' | translate}}"></span></td>
              <td>128 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>142 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText8' | translate}}"></span></td>
              <td>142 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>152 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText9' | translate}}"></span></td>
              <td>212 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>262 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText10' | translate}}"></span></td>
              <td>282 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>302 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText11' | translate}}"></span></th>
            </tr>
            <tr>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText3' | translate}}"></span></th>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText4' | translate}}"></span></th>
              <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText5' | translate}}"></span></th>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText6' | translate}}"></span></td>
              <td>90 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>102 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
            <tr>
              <td><span innerHTML="{{'bookingAtCastelBrandoText12' | translate}}"></span></td>
              <td>110 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
              <td>122 euro<span innerHTML="{{'pluralEuro' | translate}}"></span></td>
            </tr>
          </table>


          <h4 class="textContentHomePage" style="color: #868686;"><span
              innerHTML="{{'bookingAtCastelBrandoText1' | translate}}"></span></h4>
          <br><br>
          <h4 class="textContentHomePage" style="color: #868686;"> <span
              innerHTML="{{'bookingAtCastelBrandoText14' | translate}}"></span></h4>
          <div class="jumbotron">
            <span style="color: black;" innerHTML="{{'emailBodyPT1' | translate}}"></span>
          </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>
      <!-- end booking info-->

      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <section id="comeArrivare"></section>
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'comeArrivare' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2773.11577860715!2d12.133813316232589!3d45.9689470076409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477947d2bc4759d1%3A0x7ac8bd49b1d8a36b!2sCastelBrando!5e0!3m2!1sen!2sit!4v1599916180323!5m2!1sen!2sit"
            width="100%" height="375px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
          <br><br>
          <h4 class="textContentHomePage" style="color: #868686;"><span innerHTML="{{'aeroporto' | translate}}"></span>
          </h4>
          <ul style="color: #868686; margin-left: 40px;">
            <li>Aeroporto de Treviso TSF ( 44 KM)</li>
            <li>Aeroporto di Veneza Marco Polo VCE ( 68 KM)</li>
            <li>Aeroporto di Verona ( 164 KM)</li>
            <li>Aeroporto di Bologna (231 KM)</li>
            <li>Aeroporto di Milao Bergamo ( 268 KM)</li>
            <li>Aeroporto Milao Linate (299 KM)</li>
            <li>Aeroporto di Milao Malpensa MXP ( 351 KM)</li>
          </ul>

        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>


      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <section id="conferma"></section>
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'confirmation' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfShhGiqET49XmByKykpUnxriI5G4oxBE6Bi6u-PtTb5Mx8GA/viewform?embedded=true"
            width="100%" height="958" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>

      <hr>
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6">
          <div class="heading text-align-center">
            <section id="gifts"></section>
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'gifts' | translate}}"></span></h2>
            <span class="heading-bottom"><i class="icon icon-star"></i></span>
          </div>
          <h4 class="textContentHomePage" style="color: #868686;"><span innerHTML="{{'giftsText1' | translate}}"></span>
          </h4>
          <br>
          <table class="table">
            <tbody>
              <tr>
                <td><img src="../assets/images/gifts/Euro.png" class="img-fluid" style="max-width: 60px;"
                    alt="Responsive image"></td>
                <td>
                  <ul class="list-group">
                    <li class="list-group-item"><span innerHTML="{{'euroText1' | translate}}"></span></li>
                    <li class="list-group-item"><span innerHTML="{{'euroText2' | translate}}"></span> Unicredit</li>
                    <li class="list-group-item"><span innerHTML="{{'euroText3' | translate}}"></span> SARAIVA AZEVEDO
                      MAIA ANA CARLA DAVIDE ZANETTE</li>
                    <li class="list-group-item"><span innerHTML="{{'euroText4' | translate}}"></span>
                      IT15D0200859810000421306047</li>
                    <li class="list-group-item"><span innerHTML="{{'euroText5' | translate}}"></span> UNCRITMM</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><img src="../assets/images/gifts/Real.png" class="img-fluid" style="max-width: 60px;"
                  alt="Responsive image"></td>
                <td>
                  <ul class="list-group">
                    <li class="list-group-item"><span innerHTML="{{'realText1' | translate}}"></span></li>
                    <li class="list-group-item"><img src="../assets/images/gifts/Pix.jpg" class="img-fluid" style="max-width: 300px;"
                      alt="Responsive image"></li>
                    <li class="list-group-item">Chave Pix: CPF: 037.075.215-59</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><img src="../assets/images/gifts/Cash.png" class="img-fluid" style="max-width: 60px;"
                  alt="Responsive image"></td>
                <td><ul class="list-group">
                  <li class="list-group-item"><span innerHTML="{{'contantiText1' | translate}}"></span></li>
                  <li class="list-group-item"><span innerHTML="{{'contantiText2' | translate}}"></span></li>
                </ul></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- fine section-->
    </section>
  </div>
</div>