<!-- INIZIO MENU -->
<div class="floatingMenu">
    <div class="container-fluid">
      <div class="row menuColor">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <div style="margin-top: 30px; margin-left:40px; width: fit-content;">
            <h2 class="title" style="color: #868686;"><span innerHTML="{{'homeInfo' | translate}}"></span></h2>
            <div style="color: #868686; float: right">
              <h5>30 {{'july' | translate }} 2022 - 16:00</h5>
            </div>
          </div>
  
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display: flex; flex-direction: row;">
          <button style="margin-right: 25px;" onclick="document.getElementById('gliSposi').scrollIntoView()"> <h3 class="title" style="color: #868686;"><span innerHTML="{{'gliSposi' | translate}}"></span></h3></button>
          <button style="margin-right: 25px;" onclick="document.getElementById('cerimonia').scrollIntoView()"> <h3 class="title" style="color: #868686;"><span innerHTML="{{'ceremonia' | translate}}"></span></h3></button>
          <button style="margin-right: 25px;" onclick="document.getElementById('comeArrivare').scrollIntoView()"> <h3 class="title" style="color: #868686;"><span innerHTML="{{'comeArrivare' | translate}}"></span></h3></button>
          <button style="margin-right: 25px;" onclick="document.getElementById('conferma').scrollIntoView()"> <h3 class="title" style="color: #868686;"><span innerHTML="{{'confirmation' | translate}}"></span></h3></button>
          <button onclick="document.getElementById('gifts').scrollIntoView()"> <h3 class="title" style="color: #868686;"><span innerHTML="{{'gifts' | translate}}"></span></h3></button>   
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="text-align: right; margin-top: 30px;">
         <!-- <button type="button" (click)="switchLang('en')"
            style="max-width: 30px; margin-right: 10px; margin-top: 10px;"><img
              src="../assets/flags/United-Kingdom-icon.png"></button>-->
          <button type="button" (click)="switchLang('it')"
            style="max-width: 30px; margin-right: 10px; margin-top: 10px;"><img
              src="../assets/flags/Italy-Flag-icon.png"></button>
          <button type="button" (click)="switchLang('pt')"
            style="max-width: 30px; margin-right: 10px; margin-top: 10px;"><img
              src="../assets/flags/Brazil-Flag-icon.png"></button>
  
          <!-- <button type="button" class="submit-btn" (click)="goToBookingInformation()">
            {{'bookingInformation' | translate }}
          </button> -->
        </div>
  
      </div>
    </div>
  </div>
  <!-- FINE MENU -->