<div class="container-fluid circleBackground">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 20px;">

            <div class="imagetopright" style="z-index: 5; position: fixed;">
                <button type="button" (click)="switchLang('en')" style="margin-bottom: 10px;"><img
                        src="../assets/flags/United-Kingdom-icon.png"></button>
                <button type="button" (click)="switchLang('it')" style="margin-bottom: 10px;"><img
                        src="../assets/flags/Italy-Flag-icon.png"></button>
                <button type="button" (click)="switchLang('pt')"><img
                        src="../assets/flags/Brazil-Flag-icon.png"></button>
                <button style="margin-top:20px;" type="button" (click)="goToHome()"><img src="../assets/images/home.png"></button>
            </div>
            <b>
                <h3 class="modal-title" id="exampleModalLabel"><span innerHTML="{{'bookingAtCastelBrandoTitle' | translate}}" ></span>{{'' | translate }}</h3>
            </b>
            <img src="../../assets/images/CastelBrandoAndDependance.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 20px;">
            <span innerHTML="{{'bookingAtCastelBrandoText' | translate}}" ></span>
            <br><br>
            <table class="table table-striped">
                <tr>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText2' | translate}}" ></span></th>
                </tr>
                <tr>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText3' | translate}}" ></span></th>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText4' | translate}}" ></span></th>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText5' | translate}}" ></span></th>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText6' | translate}}" ></span></td>
                    <td>92 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>112 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText7' | translate}}" ></span></td>
                    <td>128 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>142 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText8' | translate}}" ></span></td>
                    <td>142 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>152 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText9' | translate}}" ></span></td>
                    <td>212 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>262 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText10' | translate}}" ></span></td>
                    <td>282 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>302 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText11' | translate}}" ></span></th>
                </tr>
                <tr>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText3' | translate}}" ></span></th>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText4' | translate}}" ></span></th>
                    <th scope="col"><span innerHTML="{{'bookingAtCastelBrandoText5' | translate}}" ></span></th>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText6' | translate}}" ></span></td>
                    <td>90 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>102 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
                <tr>
                    <td><span innerHTML="{{'bookingAtCastelBrandoText12' | translate}}" ></span></td>
                    <td>110 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                    <td>122 euro<span innerHTML="{{'pluralEuro' | translate}}" ></span></td>
                </tr>
            </table>

            <span innerHTML="{{'bookingAtCastelBrandoText1' | translate}}" ></span>

            <span innerHTML="{{'bookingAtCastelBrandoText14' | translate}}" ></span>
            <div class="jumbotron">
                <span innerHTML="{{'emailBodyPT1' | translate}}" ></span>
            </div>


            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:10px;">
                    <a class="btn btn-primary" href="mailto:hotel@castelbrando.it?">{{'bookingButton' | translate }}</a>
                </div>
                <!-- body={{'emailBody' | translate }} -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 20px;">
            <b>
                <h3 class="modal-title" id="exampleModalLabel">{{'bookingOtherOptions' | translate }}</h3>
            </b>
            <span innerHTML="{{'bookingOtherOptionsText1' | translate }}" ></span>
            <br><br>
            <table class="table table-striped">
                <tr>
                    <td>I Giardini Segreti di Villa Marcello Marinelli (4 stars hotel) - {{'min10Walking' | translate }}
                    </td>
                </tr>
                <tr>
                    <td>MeravigliaHouse (B&B) - {{'min10Walking' | translate }}</td>
                </tr>
                <tr>
                    <td>Agriturismo La Dolza (2 stars hotel) - {{'min10Walking' | translate }}</td>
                </tr>
                <tr>
                    <td>Casa di Nonna Silla (B&B) - {{'min10Walking' | translate }}</td>
                </tr>
                <tr>
                    <td>Casa Vacanze La Via Claudia (Holiday house) - {{'min5Car' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                made
                with
                <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>