<div class="container-fluid circleBackground">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 20px;">
            <div class="imagetopright" style="z-index: 5; position: fixed;">
                <button type="button" (click)="switchLang('en')" style="margin-bottom: 10px;"><img
                        src="../assets/flags/United-Kingdom-icon.png"></button>
                <button type="button" (click)="switchLang('it')" style="margin-bottom: 10px;"><img
                        src="../assets/flags/Italy-Flag-icon.png"></button>
                <button type="button" (click)="switchLang('pt')"><img
                        src="../assets/flags/Brazil-Flag-icon.png"></button>
                <button style="margin-top:20px;" type="button" (click)="goToHome()"><img src="../assets/images/home.png"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 20px;">
            <!-- BODY-->
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                made
                with
                <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>